<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
	<!-- ログインユーザーを検索 -->
	<select id="find" parameterType="String"
		resultType="com.example.demo.bean.LoginUser">
		SELECT accountId,password FROM LoginUser where
		accountId=#{0};
	</select>
		<select id="getUser" parameterType="String"
		resultType="com.example.demo.bean.LoginUser">
		SELECT * FROM LoginUser ;
	</select>
	<insert id="insertUser" parameterType="String">
	insert into LoginUser (accountId,password) values(#{accountId},#{password})
	</insert>
</mapper>